.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite*
.env
.env.*
!.env.example
*.log
.DS_Store
.idea
.vscode
.phpunit.result.cache
tests
